body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: repeating-linear-gradient(rgb(255, 0, 191),rgb(255, 208, 0), rgb(0, 121, 235));
  margin: 0;
}

.backgroundText{
  color: rgb(34, 34, 34);
  top: 0%;
  left: 0px;
  font-size: 100px;
  position: fixed;  
  opacity: 0%;
  z-index: -1;
}

.animation_1{
  animation:1.5s slidein;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
    opacity: 200%;
    font-size: 200px;
    color: #ffffff;
  }to {
    translate: 0 0;
    scale: 50% 1;
    opacity: 0%;
    font-size: 50px;
    color: #000000;
  }
}



.calculator {
  padding: 5px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(rgba(66, 66, 66, .3),rgb(0, 0, 0, .3));
  position: absolute;
}

.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-align: right;
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 2px 10px 10px 10px;
  cursor: pointer;
  border: rgb(90, 59, 90) solid 2px;
}

.btn:hover {
  background-color: #555;
}

.btn-clear {
  background-color: #28a745;
}

.btn-clear:hover {
  background-color: #218838;
}
