body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: repeating-linear-gradient(rgb(255, 0, 191),rgb(255, 208, 0), rgb(0, 121, 235));
  margin: 0;
}

.backgroundText{
  color: rgb(34, 34, 34);
  top: 0%;
  left: 0px;
  font-size: 100px;
  position: fixed;  
  opacity: 0%;
  z-index: -1;
}

.animation_1{
  animation:1.5s slidein;
  animation-timing-function:ease-out;
  animation-fill-mode:forwards;
}

.animation_2{
  animation:2s slidein;
  animation-timing-function:ease-in-out;
  animation-fill-mode:both;
}


@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
    opacity: 200%;
    font-size: 200px;
    color: #ffffff;
  }to {
    translate: 0vw 0;
    scale: 100% 1;
    opacity: 0%;
    font-size: 50px;
    color: #000000;
  }
}

.calculator {
  padding: 5px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(rgba(66, 66, 66, .3),rgb(0, 0, 0, .3));
  position: absolute;
  border: rgb(66, 66, 66, .5) double 2px;
}

.calculator img{
  /* background-size: contain; */
}

.calculator2 {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  /* background-image: repeating-linear-gradient(rgba(66, 66, 66, .3),rgb(0, 0, 0, .3)); */
  /* border: rgb(5, 0, 80) solid 1px; */
  left: -2px;
  top: -2px;
  z-index: -1;
  opacity: .8;
}
.calculator2 div.display{
  opacity: 0%;
}



.display {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-align: right;
  background-image: repeating-linear-gradient(rgba(66, 66, 66, 1),rgb(0, 0, 0, 1));;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.btn {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  /* background-color: #333; */
  background: radial-gradient(#414040, #333);
  color: #fff;
  border-radius: 2px 10px 10px 10px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}


.btn p{
  display: inline;
  position: relative;
  padding: 10px;
  top: -7px;
  left: -12px;
}

.btn p:hover{
  background:radial-gradient(rgb(83, 83, 83,1), rgb(83, 83, 83,.1), rgb(83, 83, 83,0));
  width: 200px;
  /* padding: 15px; */
  border-radius: 50px;
}

.btn:hover {
  background-color: #555;
  font-size: 1.6em;
  border-left: solid rgb(80, 80, 80);
  border-top: solid rgb(70, 70, 70);
  /* scale: 1.1; */
}

.btn-clear {
  background-color: #0084ff;
}

.btn-clear:hover {
  background-color: #015cb1;
}
